.about {
    &__inner {
        @include flex-row(120px, null, center);

        background-color: $color-contrast;
    }

    &__img {
        width: 300px;
        height: 408px;

        background-repeat: no-repeat;
        background-size: cover;
    }

    &__content {
        @include flex-col();

        gap: 25px;
        max-width: 430px;
        margin-block: 14px;
    }

    &__title {
        max-width: 380px;
    }

    &__text {
        text-align: start;
    }

    @include media-max-md() {
        &__inner {
            flex-direction: column-reverse;
            gap: 80px;
            align-items: center;
        }

        &__content {
            margin-block: 0;
        }
    }

    @include media-max-s() {
        &__inner {
            gap: 42px;
        }

        &__img {
            width: 260px;
            height: 354px;
        }
    }

    @include media-max-xs() {
        &__content {
            padding-left: 15px;
            padding-right: 15px;
        }
    }
}
