.section-friends {
    background-color: $color-side;
}

.friends {
    &__inner {
        @include flex-col(60px, center);
    }

    &__title {
        max-width: 400px;
    }

    &__slider {
        @include flex-row(null, center, space-between);

        width: 100%;
    }

    &__btn {
        flex-shrink: 0;
    }

    &__cards {
        @include flex-row($justify: space-between);

        max-width: 990px;
        width: 100%;
    }

    &__mobile {
        display: none;
    }

    @include media-max-custom(1060px) {
        &__cards {
            justify-content: center;
            gap: 40px;
        }
    }

    @include media-max-custom(740px) {
        &__inner {
            gap: 42px;
        }

        &__slider {
            flex-direction: column;
            gap: 20px;
        }

        &__mobile {
            @include flex-row(80px);
        }

        &__tablet {
            display: none;
        }
    }
}
