.help {
    &__cards {
        @include flex-row(120px, null, center);
        flex-wrap: wrap;
        row-gap: 55px;

        margin-top: 60px;
    }

    &__card {
        @include flex-col(30px, center, center);
    }

    &__card-icon {
        @include size(60px, 60px);
    }

    &__card-title {
        color: $color-font-main;
    }

    @include media-max-md() {
        &__cards {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(60px, 170px));

            column-gap: 60px;
            row-gap: 55px;
        }
    }

    @include media-max-xs() {
        &__cards {
            grid-template-columns: repeat(auto-fill, minmax(60px, 130px));
            gap: 30px;

            margin-top: 42px;
        }

        &__card {
            gap: 20px;
        }

        &__card-title {
            font-size: 15px;
        }

        &__card-icon {
            @include size(50px, 50px);
        }
    }
}
