.section-hero {
    @include bg-gradient();

    padding-top: calc($h-header * 2);
    margin-top: -$h-header;
}

.hero {
    &__inner {
        @include flex-row();

        padding: 223px 50px 243px 50px;

        background-repeat: no-repeat;
        background-position: bottom right 40px;
        background-size: 698px 728px;
    }

    &__content {
        @include flex-col(42px, flex-start);

        max-width: 460px;
    }

    &__title {
        @include font(44px, 130%);
        max-width: 310px;
        color: $color-contrast;
        letter-spacing: 0;
    }

    &__text {
        color: $color-font-header;
    }

    &__btn {
        min-width: 207px;
    }

    @include media-max-custom(1160px) {
        &__inner {
            justify-content: center;

            padding: 30px 50px 693px 50px;
            background-position: bottom right 30px;
            background-size: 569px 593px;
        }
    }

    @include media-max-md() {
        &__btn {
            align-self: center;
        }
    }

    @include media-max-custom(640px) {
        &__inner {
            justify-content: center;

            padding: 30px 10px 376px 10px;
            background-position: bottom right 10px;
            background-size: 260px 271px;
        }

        &__title {
            align-self: center;
            max-width: 200px;

            font-size: 25px;
            letter-spacing: 0.06em;
            text-align: center;
        }
        &__content {
        }
    }
}
