.section-looking {
    @include size(100%, 100%);

    margin-top: $h-header;
    background-color: $color-side;
}

.looking {
    &__inner {
        @include flex-col(60px, center, center);
    }

    &__title {
        @include flex-col(null, center, center);
    }

    &__cards {
        @include flex-row(null, center, center);

        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 40px;
    }

    &__btns {
        @include flex-row(20px);
    }

    &__btn {
        @include font(20px, 115%, 400);

        letter-spacing: 0.06em;
        text-align: center;
        color: $color-font-btn;
    }

    @include media-max-md() {
        &__inner {
            gap: 40px;
        }
    }

    @include media-max-s() {
        &__btns {
            gap: 10px;
        }
    }
}
