.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 53px;
  overflow: hidden;
}

// .carousel__wrapper {
// max-width: 990px;
// overflow: hidden;
// }
.carousel__item {
  max-width: 990px;
overflow: hidden;
}

.carousel__control--left {

}

.carousel__control--right {

}

@media (max-width: 1100px) {

  }

@media (max-width: 800px) {
  .carousel {
    gap: 12px;
  }
  }
