.card {
    @include flex-col(30px, center);
    @include size(270px, 435px);
    @include transition(background-color box-shadow);

    background-color: $bg-card;
    border-radius: 10px;

    &__img {
        border-radius: 10px;
    }

    &__title {
        font-size: 20px;
        text-align: center;
    }

    &__btn {
        background-color: transparent;
        border: 2px solid $bnt-bg-main;
    }

    @include hover() {
        cursor: pointer;
        background-color: $color-contrast;
        box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);

        .card__btn {
            background-color: $bnt-bg-hover;
        }
    }
}
