.logo {
    @include flex-col(10px, center, flex-start);
    @include transition(color);

    color: $color-font-main;

    @include hover() {
        color: $color-font-side;
    }

    &__title {
        @include font(32px, 110%);

        letter-spacing: 0.06em;
    }

    &__text {
        @include font(13px, 0.95rem);

        font-family: Arial, sans-serif;
        letter-spacing: 0.1em;
        color: $color-font-btn;
    }

    &--home {
        pointer-events: none;
        color: $color-font-side;

        .logo__text {
            color: $color-contrast;
        }
    }
}
