.logo {
  @include flex-col(10px, center, flex-start);
  @include transition(color);

  color: $color-font-header;

  &--main {
    pointer-events: none;
    color: $color-font-side;
  }

  @include hover(){
    color: $color-font-side;
  }
}

.logo__title {
  @include font(32px, 110%);

  letter-spacing: 0.06em;
}

.logo__text {
  @include font(13px,0.95rem);

  font-family: Arial, sans-serif;
  letter-spacing: 0.1em;

  &--main {
  color: $color-contrast;
  }
}
