.popup {
    @include size(100%, 100%);
    @include flex-row(null, center, center);

    position: fixed;
    top: 0;
    left: 0;

    background: rgba(41, 41, 41, 0.6);

    visibility: hidden;
    overflow: auto;
    opacity: 0;
    z-index: $z-popup;

    transition: all 0.5s ease;

    @include hover() {
        cursor: pointer;

        .popup__close {
            background-color: $bnt-bg-hover;
            border-color: $bnt-bg-hover;
        }
    }

    &__inner {
        position: relative;
    }

    &__body {
        @include hover() {
            & + .popup__close {
                background-color: transparent;
            }
        }
    }

    &__close {
        position: absolute;
        right: -26px;
        top: -58px;
    }

    &--visible {
        visibility: visible;
        opacity: 1;
    }
}

.card-popup {
    @include flex-row(30px, null, space-between);

    max-width: 900px;
    width: 100%;
    height: 500px;
    flex-shrink: 0;

    background-color: $color-contrast;
    box-shadow: 0 2px 35px 14px rgba(13, 13, 13, 0.04);
    border-radius: 10px;

    font-family: Georgia, serif;

    &__img {
        width: 50%;

        img {
            @include size(100%, 100%);
            object-fit: cover;

            border-bottom-left-radius: 10px;
            border-top-left-radius: 10px;
        }
    }

    &__content {
        @include flex-col(40px);

        max-width: 351px;

        padding-top: 50px;
        margin-right: 20px;
    }

    &__titles {
        @include flex-col(10px);
    }

    &__title {
        color: $font-card;
    }

    &__text {
        @include font(15px, 110%, 400);

        letter-spacing: 0.06em;
        color: $font-card;
    }

    &__list {
        @include flex-col(10px);
    }

    &__item {
        @include font(15px, 110%, 700);

        position: relative;
        padding-left: 14px;

        letter-spacing: 0.06em;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            width: 5px;
            height: 5px;
            border-radius: 100%;
            background-color: $bnt-bg-main;
        }
    }

    &__item-text {
        padding-left: 3px;
        font-weight: 400;
    }

    @include media-max-md() {
        max-width: 630px;
        height: 350px;

        .card-popup__content {
            max-width: 260px;
            gap: 20px;
            margin-right: 10px;
            padding-top: 10px;
        }

        .card-popup__text {
            font-size: 13px;
        }
        .card-popup__list {
            gap: 5px;
        }
    }

    @include media-max-custom(720px) {
        height: fit-content;

        .card-popup__img {
            display: none;
        }

        .card-popup__content {
            margin: 0;
            padding: 10px;
        }

        .card-popup__title,
        .card-popup__subtitle {
            text-align: center;
        }
    }
}
