.header-content {
  display: flex;
  justify-content: space-between;
  padding-top: 90px;
  padding-left: 40px;
}

.header-content__content {
  @include flex-col();

  gap: 42px;
  max-width: 460px;
  margin: 163px 0 243px;
}

.header-content__title {
  color: $color-contrast;
  font-size: 44px;
  line-height: 130%;
}

.header-content__text {
  color: $color-font-header;
}

.header-content__img {
  width: 60%;
  background-image: url('../assets/images/start-screen-puppy.png');
  background-repeat: no-repeat;
  background-size: cover;
}

@media (max-width: 1000px) {
  .header-content {
    flex-direction: column;
    gap: 100px;
    align-items: center;
    justify-content: center;
    padding: 60px 10px 0;
  }

  .header-content__content {
    align-items: center;
    justify-content: center;
    margin: 0;
  }

  .header-content__img {
    width: 569px;
    height: 593px;
  }
}

@media (max-width: 640px) {
  .header-content__title {
    font-size: 25px;
    text-align: center;
  }

  .header-content__img {
    width: 260px;
    height: 271px;
  }

  .header-content__text {
    text-align: center;
  }
}
