header(class=`header ${headerCls}`)
  .container
    header.header__nav
      +logo(logoCls)

      ul.header__list.header__list--desctop
        each item in nav
          li
            a(class=`header__link header__link--${item.cls}` href=item.href)=item.label

      .burger.js-burger
        -for (let x = 0; x < 3; x++)
          span(class=`burger__line burger__line--${cls}`)
