section.section.section-looking
  .container.looking__inner.js-pagination

    h2.title.looking__title
      span Our friends who
      span are looking for a house

    .looking__cards.js-pagination-body

    .looking__btns
      button.btn-round.looking__btn.js-first(disabled='true')
        span &lt
        span &lt
      button.btn-round.looking__btn.js-prev(disabled='true')
        span &lt
      button.btn-round.btn-round--active.looking__btn.js-current 1
      button.btn-round.looking__btn.js-next
        span &gt
      button.btn-round.looking__btn.js-last
        span &gt
        span &gt
