$color-font-main: #545454;
$color-contrast: #fff;
$color-side: #f6f6f6;
$color-font-side: #f1cdb3;
$color-font-header: #cdcdcd;
$color-font-text: #4c4c4c;
$color-font-btn: #292929;
$bnt-bg-main: #f1cdb3;
$bnt-bg-hover: #fddcc4;
$bg-card: #fafafa;
$font-card: #000;
