mixin card(card)
  article.card.js-open-popup(data-id=card.id)
    img.card__img(src=`@images/pets/${card.img}` alt='pet')
    p.title.card__title=card.name
    button.btn.card__btn(type='button') Learn more
