mixin header(logo, nav)
    header.header
      .container
        nav.nav

          div(class=`logo ${logo.cls}`)
            a.logo__link(href=logo.href) Cozy House
            h1.logo__text Shelter for pets in Boston

          ul.nav__list
            each item in nav
              li.nav__item
                a(class=`nav__link ${item.cls}` href=item.href)=item.label
