extends ../layout/layout

block variables
  -const title = 'Blog'
  -const bodyClas = ''

  -const nav = [{ href: '#', label: 'About us'}, { href: '#', label: 'Brands' }, { href: '#', label: 'Commissions' },{ href: '#', label: 'News'}, { href: '#', label: 'Contact us'}, { href: '#', label: 'Careers'}]

  -const footerNav = [{ href: '#', label: 'Terms & Conditions', cls: 'active'}, { href: '#', label: 'Cookies' }, { href: '#', label: 'Contacts' },{ href: '#', label: 'Careers'}, { href: '#', label: 'Brand Guide'}]

block content
  .container
    h1.title(style='margin-block: 40px;text-align: center;') Blog page
