extends ../layout/layout

block variables
  -const title = 'Main'
  //- -const logoCls = 'logo--home'
  //- -const headerCls = 'header--home'
  //- -const burgerCls = 'burger--home'
  //- -const nav = [{ href: '#', label: 'About the shelter', cls: 'active' }, { href: './pets.html', label: 'Our pets' }, { href: '#help', label: 'Help the shelter' },{ href: '#footer', label: 'Contacts' }]

block content

  h2.lexend content
  h2.jost content
