extends ../layout/layout

block variables
  -const title = 'Pets'
  -const logo = {cls: 'logo--main', href: '#'}
  -const nav = [{ href: '#', label: 'About the shelter', cls: 'nav__link--active' }, { href: '#', label: 'Our pets' }, { href: '#', label: 'Help the shelter' },{ href: '#', label: 'Contacts' }]

block content
  h2 content pets
