extends ../layout/layout

block variables
  -const title = 'Pets'
  -const logoCls = ''
  -const headerCls = ''
  -const burgerCls = ''
  -const nav = [{ href: './index.html', label: 'About the shelter'}, { href: '#', label: 'Our pets', cls: 'active' }, { href: './index.html#help', label: 'Help the shelter' },{ href: '#footer', label: 'Contacts' }]

block content
  include ../sections/pets/_looking
