.container {

  max-width: 1280px;

  @include flex-col();
  justify-content: space-between;
  margin: 0 auto;
}

.title {
  color: $color-font-main;
  font-weight: 400;
  font-size: 35px;
  font-family: Georgia, serif;
  font-style: normal;
  line-height: 130%;
  letter-spacing: 0.06em;
}

.logo {
  @include flex-col();

  gap: 10px;
  align-items: center;
  color: $color-side;
}

.logo__item {
  color: $color-font-header;
}

.logo__link {
  color: $color-font-side;
  font-size: 32px;
  font-family: Georgia, serif;
  line-height: 110%;
  letter-spacing: 0.06em;
}

.logo__text {
  font-size: 13px;
  font-family: Arial, sans-serif;
  line-height: 15px;
  letter-spacing: 0.1em;
}
