@font-face {
  font-weight: 400;
  font-family: Georgia;
  font-style: normal;
  src: url('../assets/fonts/Georgia.woff2') format('woff2');
}

@font-face {
  font-weight: 700;
  font-family: Georgia;
  font-style: normal;
  src: url('../assets/fonts/Georgia-Bold.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: Georgia;
  font-style: italic;
  src: url('../assets/fonts/Georgia-Italic.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: Arial;
  font-style: normal;
  src: url('../assets/fonts/ArialMT.woff2') format('woff2');
}

@font-face {
  font-weight: 400;
  font-family: Arial;
  font-style: italic;
  src: url('../assets/fonts/Arial-ItalicMT.woff2') format('woff2');
}
