section.section.section-friends
  .container.friends__inner
    h2.title.title--center.friends__title Our friends who are looking for a house

    .friends__slider.js-slider
      button.btn-round.friends__btn.friends__tablet.js-slide-prev
        include ../../../assets/icons/Arrow-left.svg

      .slider
        .slider__wrapper.js-slider-wrapper

      button.btn-round.friends__btn.friends__tablet.js-slide-next
        include ../../../assets/icons/Arrow-right.svg

      .friends__buttons.friends__mobile
        button.btn-round.friends__btn.js-slide-prev
          include ../../../assets/icons/Arrow-left.svg

        button.btn-round.friends__btn.js-slide-next
          include ../../../assets/icons/Arrow-right.svg

    a.btn(href="./pets.html") Get to know the rest
