-const cards = [ {src: 'icon-pet-food.svg',title: 'Pet food'}, {src: 'icon-transportation.svg', title: 'Transportation'}, {src: 'icon-toys.svg', title: 'Toys'}, {src: 'icon-bowls-and-cups.svg', title: 'Bowls and cups'}, {src: 'icon-shampoos.svg', title: 'Shampoos'}, {src: 'icon-vitamins.svg', title: 'Vitamins'}, {src: 'icon-medicines.svg', title: 'Medicines'},  {src: 'icon-collars-leashes.svg', title: 'Collars / leashes'}, {src: 'icon-sleeping-area.svg', title: 'Sleeping areas'} ]

section.section#help
  .container
    h2.title.title--center How you can help our shelter

    .help__cards
      each card in cards
        article.help__card
          .help__card-icon
            img(src=`@icons/help/${card.src}`, alt="icon")

          h3.help__card-title.subtitle= card.title
