.btn {
    @include flex-row(null, center, center);
    @include transition(background-color);

    padding: 15px 45px;

    background-color: $bnt-bg-main;
    border-radius: 100px;

    text-align: center;
    font-size: 17px;
    color: $color-font-btn;

    @include hover() {
        cursor: pointer;
        background-color: $bnt-bg-hover;
    }
}

.btn-round {
    @include flex-row(null, center, center);
    @include size(52px, 53px);
    @include transition(background-color);

    background-color: transparent;
    border: 2px solid $bnt-bg-main;
    border-radius: 100px;

    @include hover() {
        cursor: pointer;
        background-color: $bnt-bg-hover;
        border-color: $bnt-bg-hover;
    }
}

.btn--disabled {
    border: 2px solid $color-font-header;

    &:hover {
        background-color: transparent;
        cursor: default;
    }
}
