.btn {
    @include flex-row(null, center, center);
    @include transition(background-color);

    padding: 15px 45px;
    // width: 207px;
    // height: 52px;
    background-color: $bnt-bg-main;
    border-radius: 100px;
    text-align: center;
    font-size: 17px;
    color: $color-font-btn;

    @include hover() {
        cursor: pointer;
        background-color: $bnt-bg-hover;
    }
}

.btn-round {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 52px;
    height: 52px;
    background-color: transparent;
    border: 2px solid $bnt-bg-main;
    border-radius: 100px;

    &:hover {
        cursor: pointer;
        background-color: $bnt-bg-hover;

        // @include transition(0.3s);
    }
}

.btn--disabled {
    border: 2px solid $color-font-header;

    &:hover {
        background-color: transparent;
        cursor: default;
    }
}
