.container {
  max-width: $max-width;
  width: 100%;
  margin: 0 auto;
  padding: 0 40px;

  @include media-max-md(){
    padding: 0 30px;
  }

  @include media-max-s(){
    padding: 0 10px;
  }
}

.section {
  padding-top: 80px;
  padding-bottom: 100px;

  @include media-max-s(){
    padding-top: 42px;
    padding-bottom: 42px;
  }
}

.title {
  @include font(35px, 130%, 400);

  color: $color-font-main;
  font-family: Georgia, serif;
  font-style: normal;
  letter-spacing: 0.06em;

  @include media-max-s(){
    font-size: 25px;
    text-align: center;
  }

  &--center {
    text-align: center;
  }
}

// .title--center {
//   text-align: center;
// }

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 207px;
  height: 52px;
  background-color: $bnt-bg-main;
  border-radius: 100px;
  text-align: center;
  font-size: 17px;
  color: $color-font-btn;

  &:hover {
    cursor: pointer;
    background-color: $bnt-bg-hover;

    // @include transition(0.3s);
  }
}

.btn-round {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 52px;
  height: 52px;
  background-color: transparent;
  border: 2px solid $bnt-bg-main;
  border-radius: 100px;

  &:hover {
    cursor: pointer;
    background-color: $bnt-bg-hover;

    // @include transition(0.3s);
  }
}

.btn--disabled {
  border: 2px solid $color-font-header;

  &:hover {
    background-color: transparent;
    cursor: default;
  }
}

.text {
  font-family: Arial, sans-serif;
  font-size: 15px;
  line-height: 160%;
  color: $color-font-text;

  @media (max-width: 640px) {
    text-align: center;
  }
}

.subtitle {
  font-family: 'Georgia', serif;
font-size: 20px;
line-height: 115%;
letter-spacing: 0.06em;
color: $font-card;

@media (max-width: 640px) {
  text-align: center;
}
}
