html {
    // @include custom-scroll-y();

    scroll-behavior: smooth;
    scrollbar-gutter: stable;
}

html,
body {
    height: 100%;
}

.body-wrapper {
    @include flex-col();
    @include font(16px, 125%, 400);
    position: relative;
    min-height: 100%;
    width: 100%;
    overflow: hidden;

    font-family: "Lexend", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    color: $font-color;
    background-color: $bg-main;
}

.main {
    flex-grow: 1;
}
