html {
  scroll-behavior: smooth;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body{
  height: 100%;
}

.wrapper {
  @include flex-col();
  min-height: 100%;
}

.header{
  position: sticky;
  top: 0;
}

.main{
  flex-grow: 1;
}

// .footer{
//   background-color: blue;
// }
