html {
  @include custom-scroll-y();

  scroll-behavior: smooth;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

html,
body{
  height: 100%;
}

.wrapper {
  @include flex-col();
  min-height: 100%;
  background-color: $color-contrast;
}

.main {
  flex-grow: 1;
}
