include ../mixins/mixins

block variables

doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    link(rel='icon' href='../../assets/images/footer-puppy.ico' type='image/png')
    title=title
    link(href="@styles/index.scss" rel="stylesheet")
    script(src="@scripts/index.js" defer="defer")

  body.wrapper
    +header(logo, nav)
    main.main
      block content
    include ../components/_footer
