section.section-donation.section
  .container.donation__inner#donation
    .donation__bg-img(style="background-image: url('../../assets/images/donation-dog.png')")

    .donation__content
      h2.title.donation__title You can also make a donation
      p.text.donation__text Name of the bank / Type of bank account
      a(href='#' class='btn donation__btn')
        img(src="@icons/credit-card.svg", alt="credit card icon" class='')
        span 8380 2880 8028 8791 7435
      p.donation__subtext Legal information and lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas a ipsum at libero sagittis dignissim sed ac diam. Praesent ultrices maximus tortor et vulputate. Interdum et malesuada fames ac ante ipsum primis in faucibus.
